<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738206214317-omaubg3tds21h5i3p37l3va8elnohppu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738206214317-omaubg3tds21h5i3p37l3va8elnohppu</string>
	<key>API_KEY</key>
	<string>AIzaSyAmzpTnZsXuaEPG-HE9A3ckPo14WRN1zv0</string>
	<key>GCM_SENDER_ID</key>
	<string>738206214317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryanhenzellhill.Thrivia</string>
	<key>PROJECT_ID</key>
	<string>thrivia-9984e</string>
	<key>STORAGE_BUCKET</key>
	<string>thrivia-9984e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738206214317:ios:86644a4a7fc1f4321cbe24</string>
</dict>
</plist>